
.navigation_bar_wrapper {
	height: 50px;
}

.navigation_bar {
	background-color: #2F4F4F;
	height: 50px;
	width: 100%;
	position: fixed;
}

.bar_text {
	color: white;
	padding-left: 5px;
	font: 400 14px/24px 'Roboto', arial, sans-serif;
	line-height: 50px;
	float: left;
}

.navigation_button {
	background-color: white;
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.save_button {
	margin-right: 15px;
	float: right;
}

.popup {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: black;
}

.table_container {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}

.team_table {
	width: 100%;
}

.team_row {
	height: 26px;
	width: 100%;
	margin-top: 5px;
	background-color: dodgerblue;
}

.row_data {
	height: 26px;
	width: 98%;
	margin-left: 1%;
}

.data_number {
	height: 26px;
	color: white;
	text-align: center;
	width: 5%;
}

.data_input_field {
	margin-left: 1%;
}

.data_total {
	width: 10%;
}

.data_team_name {
	background-color: dodgerblue;
	color: white;
}













